
body{
	font-family: arial;
	background-color:#AAD6E1;
	margin:0px 10px 10px 10px;
	padding:0px 10px 10px 10px;
}

#heading{
	background:#2D3D4D; 
	color:white;
	margin:10 0 0 0;
	padding:10px 10px 10px 10px;
	font-size:25px;
}

#sem{
	font-size:12px; 
	text-decoration:underline;
}
/* drag container */
#main_container {
	margin: auto;
	width: 730px;
}
		/* container for the left table */
		#main_container #left {
			width: 130px;
			height: 320px;
			float: left;
			margin-right: 70px;
		}
		/* container for the main table and message line below */
		#main_container #right {
			width: 675px;
			padding-left: auto;
			padding-right: 0px;
			/* align div to the right */
			margin-left: auto;
		}


/* drag objects (DIV inside table cells) */
.redips-drag {
	cursor: move;
	margin: auto;
	z-index: 10;
	color: #222;
	text-align: center;
	font-size: 10pt; /* needed for cloned object */
	opacity: 0.7;
	filter: alpha(opacity=70);
	/* without width, IE6/7 will not apply filter/opacity to the element ?! */
	/* IE needs element layout */
	width: 87px;
	height: 20px;
	line-height: 20px;
	/* border */
	border: 1px solid #555;
	/* round corners */
	border-radius: 3px;
	-moz-border-radius: 3px; /* FF */
}


/* tables */
div#redips-drag table {
	background-color: #eee;
	border-collapse: collapse;
}


div#bottom table{
	margin-left: 5px;
	margin-top:  15px;
}

div#bottom table td{
	width: 140px;
	height: 32px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

/* timetable */
div#drag #table2 {
	/* align table to the right */
	margin-left: auto;
}



/* table cells */
div#redips-drag td {
	border-style: solid;
	border-width: 1px;
	border-color: white;
	height: 32px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}
		/* overwrite border settings for left tables */
		/* set all borders to 0px except border-bottom */
		div#redips-drag #table1 td {
			border-width: 0px 0px 1px 0px;
		}
			/* styles for clone DIV elements in left table */
			div#redips-drag #table1 div {
				margin-left: 5px;
				float: left;
			}
			/* define styles for buttons */
			div#redips-drag #table1 input {
				float: right;
				width: 15px;
				height: 23px;
				margin-right: 5px;
				border-width: 1px;
				/* round corners */
				border-radius: 3px;
				/* default visibility is hidden */
				visibility: hidden;
			}


/* subject colors */
.CD {
	background-color: #AAC8E2;
}
.CDL {
	background-color: #E7D783;
}
.DSL {
	background-color: #E99AE6;
}
.ITC {
	background-color: #C4AFFF;
}
.IPR {
	background-color: #91DEC5;
}
.ISD {
	background-color: #CFE17F;
}
.ISDL {
	background-color: #E7BD83;
}
.MBL {
	background-color: #FFC5C2;
}
.MC {
	background-color: #A5F09D;
}
.MB{
	background-color: #C5F89D;
}

/* blank cells (upper left corner) */
.blank {
	background-color: white;
}


/* background color for lunch */
.lunch {
	color: #665;
	background-color: #f8eeee;
}


/* trash cell */
.redips-trash {
	color: white;
	background-color: #6386BD;
}


/* message line */
#message {
	color: white;
	background-color: #aaa;
	text-align: center;
	margin-top: 10px;
	margin-left: 150px;
}


/* dark cells (first column and table header) */
.dark{
	color: #444;
	background-color: #e0e0e0;
}

.button_container{
	padding-top: 10px;
	text-align: right;
}

		/* "Save" button */
		.button_container input{
			background-color: #6A93D4;
			color: white; 
			border-width: 1px;
			width: 40px;
			padding: 0px;
		}
		
/* drop down */
.dropbtn {
    background-color: #FFC5C2;
    color: black;
    padding: 3px; 
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #FFC5C2;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

